<style>
    .maincontainer{
       width: 100vw;
       height: 100vh;
       background: #1ae2f4;
       display: flex;
       justify-content: center;
       align-items: center;
   
   }
   .box{
       background: #fff;
       width: 40vw;
       padding: 10px;
       height: auto;
       border-radius: 8px;
   }
   .headingtext{
       font-size: 16px;
       font-family:Abril Fatface;
       font-weight: bold;
       padding: 5px;
       letter-spacing: 1px;
       
   }
   .labeltext{
       font-size: 14px;
       font-family:Abril Fatface;
       font-weight: bolder;
       letter-spacing: 1px;
       
   }
   </style>
   <html>
       <head>
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans&display=swap" rel="stylesheet">
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&display=swap" rel="stylesheet">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
           <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
       </head>
       <div class="maincontainer">
           <div class="box">
            <form class="row g-3" action="/api/categorysubmit" enctype="multipart/form-data" method="post">{% csrf_token %}
              <div class="col-md-6 headingtext" >
               <img src="/static/car.gif" style="width: 55px; padding-right: 8px;"/>
               BOOK YOUR APPOINTMENT HERE
   
              </div>
              <div class="col-md-6" style="display: flex; justify-content: right;">
               <a href="/api/displaycategory" style="text-decoration: none;"> <img src="/static/list.gif" width="50"></a>
              </div>
              <div class="col-md-12">
               <label for="patientname" class="form-label labeltext">Patient Name</label>
               <input required name="patientname" type="text" class="form-control" id="patientname">
             </div>
             <div class="col-md-12">
               <label for="description" class="form-label labeltext">Description</label>
               <input required name="description" type="text" class="form-control" id="description">
             </div>
             <div class="col-md-12">
               <label for="formFile" class="form-label labeltext">Category Icon</label>
               <input required name="icon" class="form-control" type="file" id="icon">
             
           </div> 
           <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
             <button style="width: 75%;" type="submit" class="btn btn-dark labeltext">Submit</button>
            </div>
            <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
             <button style="width: 75%;" type="reset" class="btn btn-dark labeltext">Reset</button>
            </div> 
            <div class="col-md-12" style="display: flex; justify-content: center;align-items: center;">
               <span style="font-weight: bold;">{{message}}</span>
               </div>   
            </form>
           </div>
   
       </div>
   </html>