<style>
    .maincontainer{
       width: 100vw;
       height: 100vh;
       background: #29a4f0e3;
       display: flex;
       justify-content: center;
       align-items: center;
   
   }
   .box{
       background: #fff;
       width: 60vw;
       padding: 10px;
       height: auto;
       border-radius: 8px;
   }
   .headingtext{
       font-size: 16px;
       font-family:Abril Fatface;
       font-weight: bold;
       padding: 5px;
       letter-spacing: 1px;
       
   }
   .labeltext{
       font-size: 14px;
       font-family:Abril Fatface;
       font-weight: bolder;
       letter-spacing: 1px;
       
   }
   </style>
   <html>
       <head>
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans&display=swap" rel="stylesheet">
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans&display=swap" rel="stylesheet">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
           <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
       </head>
       <div class="maincontainer">
           <div class="box">
            <form class="row g-3" action="/api/editvehicles">
              <div class="col-md-12 headingtext" >
               <img src="/static/car.gif" style="width: 55px; padding-right: 8px;"/>
               Edit Vehicle
   
              </div>
              <input type="hidden" name="id" value="{{data.id}}"/>
              <div class="col-md-4">
               <label for="categoryid" class="form-label labeltext">Category Id</label>
               <input required name="categoryid" value="{{data.categoryid}}" type="text" class="form-control" id="categoryid">
             </div>
             <div class="col-md-4">
                <label for="subcategoryid" class="form-label labeltext">Sub-Category Id</label>
                <input required name="subcategoryid" value="{{data.subcategoryid}}" type="text" class="form-control" id="subcategoryid">
              </div>
              <div class="col-md-4">
                <label for="modelyear" class="form-label labeltext">Model Year</label>
                <input required name="modelyear" value="{{data.modelyear}}" type="text" class="form-control" id="modelyear">
              </div>
             <div class="col-md-4">
               <label for="variant" class="form-label labeltext">Variant</label>
               <input required name="variant" value="{{data.variant}}" type="text" class="form-control" id="variant">
             </div>
             <div class="col-md-4">
                <label for="price" class="form-label labeltext">Price</label>
                <input required name="price" value="{{data.price}}" type="text" class="form-control" id="price">
              </div>
              <div class="col-md-4">
                <label for="insured" class="form-label labeltext">Insurance</label>
                 {% if data.insured == 'Yes' %}
                <div>
                <input class="form-check-input" type="radio" name="insured" value="Yes" id="insured">
                <label class="form-check-label" for="insured">
                 Yes
                 </label>
                 <input class="form-check-input" type="radio" name="insured" value="No" id="insured">
                <label class="form-check-label" for="insured">
                 No
               </label>
               </div>
               
                {% else %}
               <div>
                <input class="form-check-input" type="radio" name="insured" value="Yes" id="insured">
                <label class="form-check-label" for="insured">
                 Yes
                 </label>
                 <input class="form-check-input" type="radio" name="insured" value="No" id="insured">
                <label class="form-check-label" for="insured">
                 No
               </label>
               </div>
                {% endif %}
              </div>
              
              <div class="col-md-4">
                <label for="registrationno" class="form-label labeltext">Registration No.</label>
                <input required name="registrationno" value="{{data.registrationno}}" type="text" class="form-control" id="registrationno">
              </div>
              <div class="col-md-4">
                <label for="ownername" class="form-label labeltext">Owner Name</label>
                <input required name="ownername" value="{{data.ownername}}" type="text" class="form-control" id="ownername">
              </div>
              <div class="col-md-4">
                <label for="mobileno" class="form-label labeltext">Mobile No.</label>
                <input required name="mobileno" value="{{data.mobileno}}" type="number" class="form-control" id="mobileno">
              </div>
              <div class="col-md-4">
                <label for="color" class="form-label labeltext">Color</label>
                <input required name="color" value="{{data.color}}" type="text" class="form-control" id="color">
              </div>
              <div class="col-md-4">
                <label for="fueltype" class="form-label labeltext">Fuel Type</label>
                <input required name="fueltype" value="{{data.fueltype}}" type="text" class="form-control" id="fueltype">
              </div>
              <div class="col-md-4">
                <label for="noofseats" class="form-label labeltext">No.of Seats</label>
                <input required name="noofseats" value="{{data.noofseats}}" type="text" class="form-control" id="noofseats">
              </div>
              <div class="col-md-12">
                <label for="transmissiontype" class="form-label labeltext">Transmission Type</label>
                 {% if data.transmissiontype == 'Manual' %}
                <div>
                <input class="form-check-input" type="radio" name="transmissiontype" value="Manual" id="transmissiontype">
                <label class="form-check-label" for="transmissiontype">
                 Manual
                 </label>
                 <input class="form-check-input" type="radio" name="transmissiontype" value="Automatic" id="transmissiontype">
                <label class="form-check-label" for="transmissiontype">
                Automatic
               </label>
              </div>
                {% else %}
              <div>
                <input class="form-check-input" type="radio" name="transmissiontype" value="Manual" id="transmissiontype">
                <label class="form-check-label" for="transmissiontype">
                 Manual
                 </label>
                 <input class="form-check-input" type="radio" name="transmissiontype" value="Automatic" id="transmissiontype">
                <label class="form-check-label" for="transmissiontype">
                Automatic
               </label>
              </div>
                {% endif %}
              </div>
            
              <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
                <button style="width: 75%;" type="submit" name="btn" value="EDIT" class="btn btn-dark labeltext">Edit</button>
               </div>
               <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;">
                <button style="width: 75%;" name="btn" type="submit" value="DELETE" class="btn btn-dark labeltext">Delete</button>
               </div>  
             
            </form>
           </div>
   
       </div>
   </html>